@charset "UTF-8";

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-top: 50px solid rgb(51, 87, 23) !important;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.logo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo h1{
    text-align: center;
    font-size: 30px;
    color: rgb(43, 214, 226);
}
.w_inner{
    width: 1200px;
    background: maroon;
    margin: 0 auto;
}
.header ul{
    display: flex;
}
.header ul li {
width: 200px;
text-align: center;
border-right: 1px solid whitesmoke;
}
header ul li:first-child{
    border-left: 1px solid whitesmoke;
}
.header ul li a{
    display: block;
    text-align: center;
}
.header_img{
    text-align: center;
}
.container_service h2{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
    color: whitesmoke;
}
.container_service .service_block{
    display: flex;
    text-align: center;
}
.container_service .service{
    text-align: center;
}
.container_service .service img{
margin-bottom: 20px;
}

.container_service .service .ttl{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
}
.container_service .service .explain{
    margin-bottom: 20px;
    text-align: center;
}
.container_service .service a{
    background: rgb(7, 51, 245);
    padding: 15px 20px 12px;
}